[submodule "Depen/GLM"]
	path = Depen/GLM
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "Depen/STB"]
	path = Depen/STB
	url = https://github.com/nothings/stb.git
[submodule "Depen/DirectXTex"]
	path = Depen/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Depen/assimp"]
	path = Depen/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Depen/bullet"]
	path = Depen/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Depen/reactphysics3d"]
	path = Depen/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
